* {
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(245, 245, 245, 1);
}
/* google fonts styles */
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }

  /* shared styles */
  
  .btn-primary {
    background-color: rgba(0, 106, 80, 1);
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    padding: 17px 34px;
  } 


/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 160px;
}
.nav-title {
    font-weight: bold;
    font-size: 32px;
}
nav > ul > li{
    list-style: none;
}
.nav-btn{
    color: rgba(0, 106, 80, 1);
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    padding: 15px 30px;
    margin-bottom: 20px;
}
/* banner styles */
.banner{
    max-width: 1280px;
    background-color: rgba(198, 228, 214, 1);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 24px;
}
.banner-content{
    padding: 117px 0 117px 60px;
}
    
.banner-greetings{
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);  
}
.banner-title{
    font-size: 56px;
    font-weight: bold;
}
.baneer-profile-pic{
    width: 475px;
    padding: 80px 60px 80px 0;
}