* {
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(245, 245, 245, 1);
}
/* google fonts styles */
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }

  /* shared styles */
  
 


/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 160px;
}
.nav-title {
    font-weight: bold;
    font-size: 32px;
}
nav > ul > li{
    list-style: none;
}
.nav-btn{
    color: rgba(0, 106, 80, 1);
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    padding: 15px 30px;
    margin-bottom: 20px;
}
.nav-btn:hover{
    background-color: rgba(0, 106, 80, 1);
    color: white;
}
/* banner styles */
.banner{
    max-width: 1140px;
    background-color: rgba(198, 228, 214, 1);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 24px;
    padding: 80px 100px;
    gap: 64px;
}
.banner-content{
    padding: 117px 0 117px 60px;
}
    
.banner-greetings{
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);  
}
.banner-title{
    font-size: 44px;
    font-weight: bold;
}
.btn-primary {
    background-color: rgba(0, 106, 80, 1);
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    padding: 17px 34px;
    margin-top: 24px;
  } 
  .btn-primary:hover{
    background-color: white;
    color: rgba(0, 106, 80, 1);

  }
.baneer-profile-pic{
    /* width: 475px; */
    width: 329px;
    height: 313px;
    padding: 114px 139px 131px 0px;
}
/* pillar styles */
.pillars {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 80px;
}
.pillars-container{
    display: flex;
    gap: 24px;
}
.pillar{
    padding: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    margin-top: 32px;
    background-color: rgba(255, 255, 255, 1);
}
.section-title{
    font-size: 40px;
    font-weight: 700;
    
}
.pillar-description{
    font-size: 16px;
    font-weight: 400;
    
}
/* vision styles */
.visions{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 80px;
}
.vision-container{
    display: flex;
    gap: 24px;
}
.vision-description{
    font-size: 16px;
    font-weight: 400;
}
.vision{
    padding: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    margin-top: 32px;
    
}
.bg-1 {
    background-color: rgba(84, 144, 245, 0.2);
}
.bg-2 {
    background-color: rgba(198, 228, 214, 1);
}
.bg-3 {
    background-color: rgba(247, 235, 207, 1);
}
.vision-btn-1{
    background-color: rgba(84, 144, 245, 1);
    border-radius: 8px;
    padding: 11px 20px;
    margin: 35px 20px 35px 0;
    font-size: 16px;
    font-weight: 600;
    border: none;
}
.vision-btn-1:hover{
    background-color: white;
}

.vision-btn-2{
    background-color: rgba(9, 161, 92, 1);
    border-radius: 8px;
    padding: 11px 20px;
    margin: 35px 20px 35px 0;
    font-size: 16px;
    font-weight: 600;
    border: none;
}
.vision-btn-2:hover{
    background-color: rgba(84, 144, 245, 1);
}
.vision-btn-3{
    background-color: rgba(255, 194, 57, 1);
    border-radius: 8px;
    padding: 11px 20px;
    margin: 35px 20px 35px 0;
    font-size: 16px;
    font-weight: 600;
    border: none;
}
.vision-btn-3:hover{
    background-color: white;
}
.caption-queto{
    padding: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 1);
    margin-top: 32px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
}
.caption-info{
    font-size: 16px;
    font-size: 400;
    color: rgba(14, 14, 14, 0.7);
    padding: 48px 24px;
}
.caption-title{
    font-size: 20px;
    font-size: 700;
    margin-top: 12px;
}
.caption-description{
    font-size: 16px;
    font-size: 400;
    counter-reset: rgba(14, 14, 14, 0.6);
    margin-top: 12px;
}
/* recent-news styles */
.recent-news{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 80px;
}
.news-item{
    display: flex;
    gap: 12px;
    margin-top: 12px;
    color: rgba(14, 14, 14, 0.7);
}
.news-description{
    margin-top: 12px;
    color: rgba(14, 14, 14, 0.7);
}
.news-container{
    margin-top: 32px;
}
.news-card{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 1);
    padding: 48px;
    margin-top: 32px;
    display: flex;
    gap: 32px;
}
.news-btn{
    background-color: rgba(0, 106, 80, 1);
    color: white;
    border-radius: 8px;
    padding: 11px 20px;
    margin: 35px 20px 35px 0;
    font-size: 16px;
    font-weight: 600;
    border: none;
}
.news-btn:hover{
    background-color: white;
    color: black;
}
/* donates styles */
.donates{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 80px;
    text-align: center;
}
.donates-title{
    font-size: 40px;
    font-weight: bold;
}
.donates-description{
    margin-top: 24px;
    padding: 10px 32px;
}
.donate{
    display: flex;
    justify-content: space-around;
    gap: 24px;
}
.donate-card-1{
    gap: 24px;
    background-color: rgba(255, 255, 255, 1);
    padding: 40px;
    border-radius: 16px;
    margin-top: 24px;
}
.donate-card-1:hover{
    background-color: rgba(198, 228, 214, 1);
}
.donate-card-2{
    gap: 24px;
    background-color: rgba(198, 228, 214, 1);
    padding: 40px;
    border-radius: 16px;
    margin-top: 24px;
}
.donate-card-2:hover{
    background-color: white;
}
.donate-card-3{
    gap: 24px;
    background-color: rgba(255, 255, 255, 1);
    padding: 40px;
    border-radius: 16px;
    margin-top: 24px;
}
.donate-card-3:hover{
    background-color: rgba(198, 228, 214, 1);
}
.donate-card-4{
    gap: 24px;
    background-color: rgba(255, 255, 255, 1);
    padding: 40px;
    border-radius: 16px;
    margin-top: 24px;
}
.donate-card-4:hover{
    background-color: rgba(198, 228, 214, 1);
}
.card-items{
    font-size: 40px;
    font-weight: bold;
}
input {
    margin-top: 32px;
    padding: 20px 40px;
    gap: 24px;
    width: 1032px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    border-style: none;
    
    
}
.donate-btn{
    background-color: rgba(0, 106, 80, 1);
    color: white;
    border-radius: 8px;
    padding: 11px 20px;
    margin: 35px 20px 35px 0;
    font-size: 16px;
    font-weight: 600;
    border-style:  none;
}
.donate-btn:hover{
    background-color: white;
    color: black;
}
/* subscribe styles */
.subscribe{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 24px;
}
.subscribe-title{
    font-size: 40px;
    font-weight: bold;
    padding: 80px 100px;
}
.subscribe-description{
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    padding: 10px 32px;
    line-height: 24px;
}
.newsletter{
    display: flex;
    width: 1031px;
    height: 104px;
    
    
}
.newsletter input{
    margin-top: 32px;
    padding: 18px 40px;
    gap: 24px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    border-style: none;
    
}
#email {
    width: 544px;
    height: 15px;
    border-radius: 8px;
}
.newsletter-btn{
    background-color: rgba(0, 106, 80, 1);
    color: white;
    border-radius: 8px;
    padding: 17px 34px;
    font-size: 16px;
    font-weight: 600;
    border-style: none;
    width: 150px;
    height: 56px;
}
.newsletter-btn:hover{
    background-color: white;
    color: black;
}
.newsletter-info{
    padding: 24px 74px;
    margin-bottom: 80px;

}
/* footer styles */
footer{
    background-color: rgba(255, 255, 255, 1);
}
.footer-items{
    text-align: center;
}
.footer-title{
   font-size: 32px;
   font-weight: bold;
   padding: 50px 160px;
}
.footer-hr{
    
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: block;
    
    
}
.footer-icons{
    text-align: center;
    padding: 30px;
}
